html,body
{
	margin:0;
	padding:0;
}
body
{
	font: 76% arial,sans-serif;
	text-align:center;
	background-size: 100% 100%; /* первые 100% - ширина, вторые 100% - высота */ 
	-o-background-size: 100% 100%; /* Для браузера Opera */
	-moz-background-size: 100% 100%; /* Для MozillaFireFox */
	background-attachment:scroll;
	
	/*background: url("../images/cube.jpg") no-repeat right;*/
}

#header 
{	
	height:150px;
}

#wrapper {
  height:auto !important;
  height:100%;
  min-height:100%;
  position: relative;
}

#clearLeft
{
	float:left; 
	width: 200px;
}

#container {
  min-width:550px;
} 
#center 
{
	margin:0px 200px 0px 520px;
	text-align: justify;
	text-indent: 10px;
	width:650px;
}
#left 
{
	margin: 0px auto 0px 200px;
	border: 1px solid White;
	background-color: LightBlue;
	background-image: -moz-linear-gradient(White, LightBlue);
	background-image: -webkit-gradient(linear, left top, left bottom, from(White), to(LightBlue));
	background-image: -webkit-linear-gradient(White, LightBlue);
	background-image: -o-linear-gradient(White, LightBlue);
	background-image: -ms-linear-gradient(White, LightBlue);
	background-image: linear-gradient(White, LightBlue);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 1px Blue;
	-webkit-box-shadow: 0 1px 1px Blue;
	box-shadow: 0 1px 1px Blue;
	float:left; 
	width:300px;
	text-align: left;
}

#left li:hover > ul 
{
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#left ul ul 
{
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	_margin: 0; /*IE6 only*/
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#left ul li 
{
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666
	-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	/*box-shadow: 0 1px 0 #111, 0 2px 0 #666;*/
}

#left ul a 
{
	padding: 10px;
	width: 130px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}


#right {
  float:right; 
  width:200px;
}
#footer 
{
	position:fixed;
	bottom:0;
	left:0;
	background: LightBlue;
	height:65px;
	margin-top: -65 px;
    padding: 0;
	width: 100%;
}
#clear {
  clear:both;
}